body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #dae0e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.modal-content{
  position: absolute;
  top:30vh;
  background:rgba(255,255,255, 0.3);
  height: 40vh;
  width: 60vh;
  left:50%;
  border-radius: 6px;
  transform: translateX(-50%);
}

.modal-body{
  width: 100%;
  height: fit-content;
}
.modal-content .modal-body textarea{
  width: 100%;
  height: 100%;
  background:#333;
  color:white;
  font-weight: bold;
  font-size: 25px;

}
.postButton{
  background: #333;
}